.window-title {
  padding: 3px;
  color: #ffffff;
  background-color: #080808;
  background-image: -moz-linear-gradient(top, #080808, #080808);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#080808), to(#080808));
  background-image: -webkit-linear-gradient(top, #080808, #080808);
  background-image: -o-linear-gradient(top, #080808, #080808);
  background-image: linear-gradient(to bottom, #080808, #080808);
  background-repeat: repeat-x;
  border: 1px solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff080808', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  cursor: move; 
  position: relative;
}

.window-title-content {
  margin-right: 5px;
}

.display-inline-block {
  display: inline-block;
}

.right-inline-block {
  display: inline-block; 
  float: right;
}

.object-drag-dummy {
  color: #000000;
}

.window-close-button {
  color: #ffffff; 
  text-decoration: none; 
  text-shadow: 0 1px 0 #080808;
}

.window-title span .object-inline-view-view > a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 0 #080808;
}

.window-title span .object-inline-view-view > a:hover {
  color: #777;
}

.window-title span .object-inline-typed-view > a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 0 #080808;
}

.window-title span .object-inline-typed-view > a:hover {
  color: #777;
}

.window-title > span > a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 0 #080808;
}
 
.window-title > span > a:hover {
  color: #777;
}

.nowrap {
  white-space: nowrap;
}

.draggable-new-object-container {
  cursor: move; 
  display: inline-block;
}

.code-area {
    position: relative;
    width: 100%;
    border: 1px solid #DDD;
}

.button-area {
  margin-top: 10px; 
  white-space: nowrap;
}

.icon-language {
  width: auto;
  height: 16px;
  margin-right: 5px;
}

.ui-selected {
  background: #025076;
  color: #ffffff;
}

ol.ui-selectable {
  border: 1px solid #aaaaaa;
  margin-left: 0px;
}

.cls-icon-mirrored {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.cls-icon-flipped {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.jstree-default li {
  margin-top: 2px;
}

.list-darker {
  background: #ccc;
}

.list-darker.ui-selected {
  background: #025076;
}

.window-navigation-item {
  padding: 4px 2px 2px 4px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.component {
	background-color: white;
	color: black;
	padding: 0.5em; 
}

.object-view-reset {
  white-space: normal; 
  opacity: 1.0; 
  filter: alpha(opacity=100);
}

.object-ivname-box {
  border: 1px solid #346789;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.window { 
	border: 2px solid #346789; 
	z-index: 20; 
	position: absolute; 

  box-shadow: 2px 2px 19px #555555;
  -o-box-shadow: 2px 2px 19px #555555;
  -webkit-box-shadow: 2px 2px 19px #555555;
  -moz-box-shadow: 2px 2px 19px #555555;
}

.window-mouse-out {
  opacity: 0.92;
  filter: alpha(opacity=92);
}

.object-drag-dummy {
  border: 2px solid #346789;
  padding: 0.5em;
}

.label {
	border: 1px solid #346789; 
	padding: 8px;
}

.label:hover {
  border-color: #5d94a6;	
}

.l1 { 
	font-size: 13px;
}

._jsPlumb_connector { z-index:4; }
._jsPlumb_endpoint { z-index:5; }
._jsPlumb_overlay { z-index:6; }

